<!doctype html>
<html lang="en"> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
  <head>

<link rel="icon" href="icon.png"> 

    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no"> 




    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"> </script>

<script type="text/javascript"> 
   
Swal.fire({
  type: 'info',
  title: 'Information',
   html:'<center>Single Click ===>>> Mark the Word<br>Double Click ===>>>> Meaning of the Word</center>',
  footer: 'created by Aman Jain'
})
  

  

   

p=<%= raw json_escape(@p.to_json) %>;

function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}

function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
function df(){
  this.style.color="red"; this.classList.add("red"); return false;

}


function submit() {
  $(".space").show();
  var index;
var text=[];
  var checkedVals = $('.aman:checkbox:checked').map(function() {
    return this.value;
}).get();
index = checkedVals;
// console.log(index)

for (i=0; i < index.length;i++ ) { 
  // console.log(p[index[i]])
  for (j=0;j<Object.keys(p[index[i]]).length;j++)
{text.push(p[index[i]][j]);
 }
}
console.log(shuffle(text));



  var words = text;

  var html = '<a href="/home/insert" class="list-group-item list-group-item-action active">Shuffled Words ( '+text.length +' )</a>';
  $.each(words, function(i, word) {
  	var z='https://www.google.com/search?hl=en&q=Dictionary#dobs='+ word +" ";
var z='https://www.google.com/#q='+ word +" ";
    html += '<a onclick=\'this.style.color="red"; this.classList.add("red"); return false;\' ondblclick="location=this.href" href='+ z + '\, class="list-group-item list-group-item-action"  >'+ String(i+1)+". "+  capitalizeFirstLetter(String(word))+ '</a>';
  


  });



  
if($("#divResults").length){
      $('#divResults').empty();

  $("#divResults").append(html);

}else{
      $("#divResults").append(html);

}

}



jQuery(function($) {
    $('#golink').click(function() {
        return false;
    }).dblclick(function() {
        window.location = this.href;
        return false;
    });
});


</script>

    <title>Vocabulary Builder</title>
  </head>
  <body><center>
    <h1>Vocabulary List <a href="/home/insert">!</a> <a href="/home/delete">!</a></h1>
<br>
<br>


<table class="table table-borderless" align="center"> 
  
  <tbody>
    <tr>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Birth n death"> Birth and Death </label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Body n disease-1"> Body and Disease I</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Body n disease-2"> Body and Disease II</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Beautiful mind-1"> Beautiful Mind I</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Beautiful mind-2"> Beautiful Mind II</label></td>
    </tr>


    <tr>
      <td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Shabd -1"><span> Shabd I</span></label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Shabd -2"> Shabd II</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Religion"> Religion</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Rajneeti -1"> Rajneeti I</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Rajneeti-2"> Rajneeti II</label></td>
      </tr>
    <tr>
     <td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Office office-1"> Office Office I</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Office office-2"> Office Office II</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Money matters"> Money Matters</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Size matters"> Size Matters</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="50 shades of joy"> 50 Shades of Joy</label></td>
    </tr>
    <tr>
     <td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Criticism n praise"> Criticism and Praise</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Crime n punishment"> Crime and Punishment</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="War n peace"> War and Peace</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Anger kills"> Anger Kills</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="LSD -1"> LSD I</label></td>
    </tr>
    <tr>
     <td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="LSD-2"> LSD II</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Food,clothing n shelter"> Food Clothing and Shelter</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Break n brake"> Break and Brake</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="A Walk through clouds"> A Walk through Clouds</label></td>
<td><label class="checkbox-inline"> <input class="aman" type="checkbox" value="Time flies"> Time Flies</label></td>
    </tr>
  </tbody>
</table>
 

<style type="text/css">
	.list-group{
		font-size: 120%; 
	}

a  {color: black;
    text-decoration: none !important;
}

a:hover {color: black;
    text-decoration: none !important;
}

.space{
  margin-left: 20px;
}
.black{
  color: black;
}
.red{
  color: red;
}
</style>



<button type="button" class="btn btn-outline-danger" onclick="submit()"> Get Words</button>
<button type="button" class="btn btn-outline-danger space" onclick="s2()"> Get Marked Words</button><br><br>
<script type="text/javascript">
  $(".space").hide();
function s2() {
  if(document.getElementsByClassName("red").length==0)
  {
Swal.fire({
  type: 'error',
  title: 'No Word Selected',
  footer: 'created by Aman Jain'
})
  return;

  }
var words=document.getElementsByClassName("red");
// console.log(words);
var redwords=[];
for (i=0;i<words.length;i++) {
redwords.push(words[i].text.split(". ").pop());
}
Swal.fire(String(redwords.join("\n")));
// console.log(String(redwords));
}


</script>
<br>
</center>


<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
<div id="divResults" class="list-group"> 
</div>    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

 

    
  </body>


</html>