
<body><script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


<div class="container">
  <br>
  <center><h1>Insert a Word</h1></center><br><br>
<!--   <p>The form below contains two dropdown menus (select lists):</p>
 -->  <form>
    <div class="form-group">
      <label for="sel1">Select Topic (select one):</label><br>
      <select class="form-control" id="sel1" name="sellist1">
       <% for i in @clist do %>
        <option><%= i[1..-2] %> </option>
        <% end%>
      </select>
      <br>
      <label for="sel2">Enter The Word</label><br>
<input  type="text" id="wd" class="form-control form-control-lg">

    </div>
    <br><div class='container'>
    <center><button id= "submit" type="submit" class="btn btn-outline-danger" onclick="smit()">Submit</button>
    <button id= "back" type="back" class="btn btn-outline-danger" >Back</button></center>

  </form>
</div>
</div>

</body>

<script type="text/javascript">
    document.getElementById("back").addEventListener("click", function(event){
  event.preventDefault()
  location.href='/home/index'
});
  document.getElementById("submit").addEventListener("click", function(event){
  event.preventDefault()
});
  
function  smit(){


var x = document.getElementById("sel1").selectedIndex;
  var l='`'+document.getElementsByTagName("option")[x].value+'`';

  var wp=document.getElementById("wd");
if(wp.value != ""){
   var w="'"+document.getElementById("wd").value+"'";

$.ajax({
  type:"GET",
  url:"insertdata",
  dataType:"json",
  data: { table: l , word: w },
  success:function(result){
Swal.fire(
  'Good job!',
  'Word Successfully Saved!',
  'success'
) 
wp.value="";

 }
})


}
else
{
Swal.fire({
  type: 'error',
  title: 'Oops...',
  text: 'Word not Entered!'
})
}

}

</script>


